*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form{
padding: 20px;  
 display: flex;
 flex-direction: column;
}
form input{
    width: 300px;
    height: 30px;
}
form button{
    width: 100px;
    height: 30px;
}
table{
    border-collapse:collapse ;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 1rem;
    margin: 4rem auto;
  
}

td,th{
    border: 1px solid rgb(190,190,190);
    padding: 20px 10px;
  font-size: 12px;
}
th{
    background-color: rgb(235,235,235);
}
td{
    text-align: center;
}
tr:nth-child(even) td{
    background-color: rgb(250,250,250);
}
tr:nth-child(odd) td{
    background-color: rgb(250,250,250);
}

tbody{
    font-size: 80%;
    font-style: italic;
}
a{
    text-decoration: underline;
    color: blue;
}